<template>
    <div>
        <div class="pt-4 pb-10 sm:py-4 flex items-center border-t border-gray-200 dark:border-dark-5">
            <textarea 
            v-model="newMessage"
            @keyup.enter="send"
            @keyup="typing"
            class="chat__box__input input dark:bg-dark-3 w-full h-16 resize-none border-transparent px-5 py-3 focus:shadow-none" rows="1" placeholder="Tapez votre message..."></textarea>
            <button 
            class="w-8 h-8 sm:w-10 sm:h-10 block bg-theme-1 text-white rounded-full flex-none flex items-center justify-center mr-5"
            v-on:click="send">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send w-4 h-4"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg> 
            </button>
        </div>
    </div>
</template>
<script>
import MessagesComp from './MessagesComp.vue';
export default ({
    components: {
        MessagesComp
    },
    name : 'ChatInput',
    props : ['user','routsend','taskid','routype'],
    data(){
        return{
             
            newMessage : '',
            users : [],
            notif : [],
        }
    },
    methods : {
        send : function(event){
            event.preventDefault();
            var from = new FormData();
            from.append('user',this.user.id);
            from.append('message',this.newMessage);
            from.append('taskId',this.taskid);
            from.append('role',this.user.role);
            if(this.newMessage!=''){
                axios.post(this.routsend,from).then(Response=>{
                this.notif.push(this.newMessage);
                console.log(this.newMessage);
                this.newMessage='';
                }).catch(error=>{
                    console.log(error.response)
                });
            }
        },
        // typing : function(event){
        //     event.preventDefault();

        //     var from = new FormData();
        //     from.append('user',this.user.id);
        //     from.append('username',`${this.user.nom} ${this.user.prenom}`);
        //     from.append('message','typ');
        //     from.append('taskId',this.taskid);
        //     from.append('role',this.user.role);
           
        //     // axios.post(this.routype,from).then(Response=>{
               
        //     //     // console.log(Response.data);
                
        //     // }).catch(error=>{
        //     //     console.log(error.response)
        //     // });

            
        // },
        format_date(value){
            if (value) {
                
                const event = new Date(value);
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' ,hour: 'numeric',minute: 'numeric'};

                return event.toLocaleDateString('fr-FR',options);   
                
            }
        }
    },
})
</script>
