<template>
<div>
    <div class="overflow-y-scroll scroll" style="height: 50vh" v-chat-scroll>
        <div v-for="(conv, index) in convers" v-bind:value="index" class="grid grid-cols-1">
            <div class="grid justify-items-center">
                <div class="mt-1 text-xs text-theme-25">{{format_date(conv.created_at)}}</div>
            </div>
            <div  v-if="conv.id_user == user.id">
                <div class="flex items-end float-right bg-theme-1 px-4 py-3 text-white rounded-l-md rounded-t-md my-3 mx-2">
                    {{conv.message}}
                </div>
            </div> 
            <div v-else>
                <div  class="flex items-end float-left mb-4 bg-gray-200 dark:bg-dark-5 px-4 py-3 text-gray-700 dark:text-gray-300 rounded-r-md rounded-t-md">
                    {{conv.message}}
                </div>
            </div>
        </div>
        <div v-for="(conv, index) in conversation[0]" v-bind:value="index" class="grid grid-cols-1">
            <div class="grid justify-items-center">
                <div class="mt-1 text-xs text-theme-25">{{format_date(conv.created_at)}}</div>
            </div>
            <div  v-if="conv.id_user == user.id">
                <div class="flex items-end float-right bg-theme-1 px-4 py-3 text-white rounded-l-md rounded-t-md my-3 mx-2">
                    {{conv.message}}
                </div>
            </div> 
            <div v-else>
                <div  class="flex items-end float-left mb-4 bg-gray-200 dark:bg-dark-5 px-4 py-3 text-gray-700 dark:text-gray-300 rounded-r-md rounded-t-md">
                    {{conv.message}}
                </div>
            </div>
        </div>
        
            
        <div v-for="(notifs, index) in notif"  class="grid grid-cols-1">
            <div class="grid justify-items-center">
                <div class="mt-1 text-xs text-theme-25">{{format_date(new Date())}}</div>
            </div>
            <!-- <div v-if="notifs[1]==user.id">
                <div class="flex items-end float-right bg-theme-1 px-4 py-3 text-white rounded-l-md rounded-t-md my-3 mx-2">
                    {{notifs[0]}}
                </div>
            </div> -->
            <div >
                <div class="flex items-end float-right bg-theme-1 px-4 py-3 text-white rounded-l-md rounded-t-md my-3 mx-2">
                    {{notifs}}
                </div>
            </div>
        </div>
            <!-- <div v-if="typeing!=''">
                <span class="text-theme-9">{{typeing}}</span>
                <br><br>
            </div> -->
    </div>
    <div>
        <div class="pt-4 pb-10 sm:py-4 flex items-center border-t border-gray-200 dark:border-dark-5">
            <textarea 
                v-model="newMessage"
                @keyup.enter="send"
                
                class="chat__box__input input dark:bg-dark-3 w-full h-16 resize-none border-transparent px-5 py-3 focus:shadow-none" rows="1" placeholder="Tapez votre message..."></textarea>
            
            <button 
            class="tooltip w-8 h-8 sm:w-10 sm:h-10 block bg-gray-300 text-white rounded-full flex-none flex items-center justify-center mr-5 hover:shadow-lg hover:bg-gray-500 duration-150 " title="recharger"
            v-on:click="reload">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-ccw w-4 h-4 text-black"><polyline points="1 4 1 10 7 10"></polyline><polyline points="23 20 23 14 17 14"></polyline><path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path></svg>
            </button>
            <button 
            class="w-8 h-8 sm:w-10 sm:h-10 block bg-theme-1 text-white rounded-full flex-none flex items-center justify-center mr-5"
            v-on:click="send">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send w-4 h-4"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg> 
            </button>
        </div>
    </div>
</div>
    
</template>
<script>
// import MessagesComp from '../components/MessagesComp.vue';
export default ({
    // components: {
    //     MessagesComp
    // },
    name : 'MessagesComp',
    props : ['convers','user','taskagent','idtask','routsend','taskid','routype','reloadlink'],
    
    data() {
        return{
           notif:[],
           conversation: [],
           moments : [],
           date : [],
           typeing : '',
           typeinguser : '',
           newMessage : '',
           users : [],
        }
    },

    methods: {
        send : function(event){
            event.preventDefault();
            var from = new FormData();
            from.append('user',this.user.id);
            from.append('message',this.newMessage);
            from.append('taskId',this.taskid);
            from.append('role',this.user.role);
            if(this.newMessage!=''){
                axios.post(this.routsend,from).then(Response=>{
                this.notif.push(this.newMessage);
                console.log(Response);
                this.newMessage='';
                }).catch(error=>{
                    console.log(error.response)
                });
            }
        },
        reload : function(event){
            event.preventDefault();
            var from = new FormData();
            from.append('id_task',this.taskid);
            axios.post(this.reloadlink,from).then(Response=>{
                this.convers=[];    
                this.conversation.splice(0);
                this.notif.splice(0);
                this.conversation.push(Response.data) ;
                // console.log(this.conversation);
                // this.newMessage='';
            }).catch(error=>{
                console.log(error.response)
            });
        },
        // typing : function(event){
        //     event.preventDefault();
        //     var from = new FormData();
        //     from.append('user',this.user.id);
        //     from.append('username',`${this.user.nom} ${this.user.prenom}`);
        //     from.append('message','typ');
        //     from.append('taskId',this.taskid);
        //     from.append('role',this.user.role);
        //     // axios.post(this.routype,from).then(Response=>{
        //     //     // console.log(Response.data);
        //     // }).catch(error=>{
        //     //     console.log(error.response)
        //     // });
        // },
        format_date(value){
            if (value) {
                const event = new Date(value);
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' ,hour: 'numeric',minute: 'numeric'};
                return event.toLocaleDateString('fr-FR',options);   
            }
        }
    },
     // mounted(){
    //    Echo.channel('NotificationChanl')
    //     .listen('NotificationEv',  event=>{
    //         // alert( this.idtask);
    //         if(event.user==this.taskagent && this.idtask==event.task || event.role=='Administrateur' && this.idtask==event.task){
    //              console.log(event.notif);
    //             if(event.notif=='typ'){
    //                 if (event.user!=this.user.id) {
    //                     this.typeing = `${event.username} est en train d'ecrire`; 
    //                     setTimeout(() => {
    //                         this.typeing = '';
    //                     }, 2000);  
    //                 }
    //             }else{
    //                 this.typeinguser=event.user;
    //                 // console.log(event.notif);
    //                 this.notif.push([event.notif,this.typeinguser]); 
    //                 // console.log(this.notif);
    //             }
    //         }
             
    //     });
    // },
})
</script>
